.medcard_aside {
	background-color: #20303d;
}

.medcard_aside__list {
	padding-top: 15px;
}

.medcard_aside__item {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 0;
	position: relative;
}

.medcard_aside__item:hover .medcard_aside__description {
	opacity: 1;
	visibility: visible;
}

.medcard_aside__description {
	position: absolute;
	padding: 5px 20px;
	width: max-content;
	left: calc(100% + 5px);
	z-index: 20;
	background-color: #20303d;
	border-radius: 4px;
	color: #f5f8fa;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.2s, visibility 0.2s;
}


.medcard_aside__item:hover .medcard_aside__item_icon {
	fill: #f5f8fa;
}

.medcard_aside__item.active .medcard_aside__item_icon {
	fill: #f5f8fa;
}

.medcard_aside__item_icon {
	fill: #a2abb0;
	transition: fill 0.2s;
}