.medcard_comments__icon {
	fill: #3470A1;
	cursor: pointer;
}

.medcard_content__main.index {
	display: grid;
	grid-template-rows: minmax(100px, 7fr) minmax(100px, 4fr);
	gap: 12px;
}

.medcard_comments {
	display: grid;
}

.medcard_content__main.index .medcard_table {
	overflow: auto;
}

.medcard_comments__item {
	container: comment / inline-size;
}

.medcard_comments__content {
	padding: 8px;
	margin-top: 4px;
	border: 1px solid #ebebeb;
	border-radius: 4px;
}


.medcard_comments__date {
	background: #4f78ab;
	padding: 2px;
	color: #fff;
	border-radius: 2px;
}

.medcard_comments__value {
	font-size: 1.2rem;
}

.medcard_comments__name {
	font-size: 1.1rem;
	font-weight: bold;
	color: #4f78ab;
}

.medcard_comments__type {
	font-size: 1.1rem;
	color: #4f78ab;
}

.medcard_comments__list {
	overflow: auto;
	/*max-height: calc(50vh - 238px);*/
}

.medcard_comments__input {
	width: 100%;
	resize: none;
	border-color: #ebebeb;
	height: 40px;
	padding: 8px;
}

.medcard_comments__new_comment {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	align-items: center;
	padding: 16px;
	border: 1px solid #ebebeb;
}