.dropdown {
	flex: 1;
	display: flex;
	flex-direction: column;
	position: relative;
}

.dropdown__label {
	font-size: 13px;
}

.dropdown__list_wrap {
	display: grid;
	grid-template-rows: 0fr;
	overflow: hidden;
	transition: grid-template-rows 0.2s;
	position: absolute;
	top: 100%;
	width: 100%;
	left: 0;
}

.dropdown__list {
	min-height: 0;
	transition: visibility 1s;
	background-color: #fff;
}

.dropdown__list_wrap.active {
	grid-template-rows: 1fr;
}