.full-mode.medcard {
	grid-template-columns: 180px calc(100% - 188px);
	grid-template-rows: auto 1fr;
	grid-template-areas:
        "aside search"
        "aside content";
	gap: 8px;
}

.full-mode .medcard_content {
	height: calc(100vh - 80px);
}

.index_appointments {
	display: none;
}

.full-mode .index_appointments {
	display: grid;
}

.full-mode .medcard_content__main.index {
	grid-template-rows: minmax(100px, 7fr) minmax(100px, 7fr) minmax(100px, 4fr);
}

.full-mode .medcard_tabs {
	display: none;
}

.full-mode .medcard_aside__link {
	justify-content: flex-start;
	padding-inline: 12px;
	gap: 8px;
}

.full-mode .medcard_aside__description {
	position: static;
	padding: 0;
	opacity: 1;
	visibility: visible;
	background: transparent;
	box-shadow: none;
}

.medcard_aside__avatar {
	display: none;
	padding: 12px;
}

.full-mode .medcard_aside__avatar {
	display: block;
	padding-top: 40px;
}

.full-mode .medcard_content__info {
	/*grid-template-columns: 1fr;*/
	/*!*height: 156px;*!*/
	/*grid-auto-rows: auto;*/
	/*grid-template-rows: auto;*/
	display: block;
	height: 156px;
}

.full-mode .medcard_content__avatar {
	display: none;
}

.full-mode .medcard_table {
	flex: 4;
}

.full-mode .medcard_comments__content {
	margin-top: 0;
	margin-bottom: 4px;
}

.full-mode .btn--add_comment {
	width: 100%;
	justify-content: center;
}