.medcard {
	display: grid;
	grid-template-columns: 40px calc(100% - 48px);
	/*grid-template-rows: auto auto 1fr;*/
	grid-template-areas: "aside search" "aside header" "aside content";
	column-gap: 8px;
	height: calc(100vh - 72px);
	grid-template-rows: auto auto minmax(100px, 1fr);
}

.medcard_tabs {
	/*grid-area: header;*/
	padding-top: 8px;
}

.medcard_search {
	grid-area: search;
	padding-right: 8px;
}

.medcard_content {
	/*grid-area: content;*/
	border: 1px solid #ebebeb;
	padding: 8px;
	border-top-left-radius: 4px;
	/*display: flex;*/
	/*flex-direction: column;*/
	gap: 8px;
	display: grid;
	grid-auto-rows: auto auto minmax(100px, 1fr);
}

.medcard_aside {
	grid-area: aside;
}

.collapse {
	display: grid;
	grid-template-rows: 0fr;
	overflow: hidden;
	transition: grid-template-rows 0.2s;
}

.collapse.active {
	grid-template-rows: 1fr;
}

.collapse__item {
	min-height: 0;
	overflow: auto;
	transition: visibility 1s;
	display: grid;
	grid-template-columns: 1fr;
	/*grid-template-rows: repeat(auto-fit, 190px) 1fr;*/
	/*grid-auto-rows: auto minmax(100px, 1fr);*/
}

/*.collapse__item:has(.appointments) {*/
/*	grid-auto-rows: auto minmax(100px, 1fr);*/
/*}*/

.full-height {
	grid-row: span 2;
}

.btn {
	border: 1px solid lightgray;
	background-color: #fcfcfc;
	font-size: 1.3rem;
	display: flex;
	align-items: center;
	gap: 4px;
	cursor: pointer;
	border-radius: 2px;
	padding: 8px 16px;
	transition: background-color 0.2s;
}

.btn:hover {
	background-color: #ebebeb;
}

.btn--medtable {
	margin-top: 8px;
}

.btn--comments {
	margin-bottom: 8px;
}

.btn--sm {
	padding: 4px 8px;
	font-size: 1.1rem;
	border-radius: 3px;
}

.btn--blue {
	background-color: #0047BB;
	opacity: 0.8;
	color: #fff;
}

.btn--blue:hover {
	background-color: #0047BB;
	opacity: 1;
}

.btn--add_comment {
	margin-left: auto;
}

.medcard__input_wrap {
	position: relative;
	border: 1px solid gray;
	border-radius: 4px;
}

.medcard__input_wrap:focus-within {
	outline: 1px solid blue;
}

.medcard__input {
	width: 100%;
	padding: 7px 10px;
	border: 0;
	outline: none;
	border-radius: 4px;
}

.medcard__search_btn {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	background-color: #ebebeb;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	cursor: pointer;
}
