.no-search.medcard {
	grid-template-rows: auto 1fr;
	row-gap: 0;
	grid-template-areas: "aside header" "aside content";
}

.no-search .medcard_search {
	display: none;
}

.no-search.full-mode .medcard_table__content {
	max-height: calc(100vh - 279px);
}

.no-search.full-mode .medcard_comments__list {
	max-height: calc(100vh - 240px);
}