.medcard_content__topinfo {
	font-size: 1.2rem;
	display: flex;
	width: 100%;
	gap: 20px;
	container: topinfo / inline-size;
	overflow: auto;
	padding-bottom: 6px;
}

.medcard_content__topinfo_item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 4px;
	position: relative;
}

.medcard_content__topinfo_item:not(:last-child)::after {
	content: '';
	position: absolute;
	right: -10px;
	width: 1px;
	height: 20px;
	background: lightgray;
}

.medcard_content__topinfo_label {
	font-weight: 600;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
}

.medcard_content__topinfo_content {
	color: #658fa6;
}

.medcard_docs__icon {
	fill: #525456;
	transition: fill 0.2s;
}

.medcard_docs__icon:hover {
	fill: #658fa6;
}

.medcard_content__docs_link {
	display: flex;
	align-items: center;
}

@container topinfo (max-width: 650px) {
	.medcard_content__topinfo_item {
		font-size: 1rem;
	}

	.medcard_content__topinfo_item:not(:last-child)::after {
		height: 100%;
	}
}

.medcard_content__profile_money {
	display: inline-flex;
	align-items: center;
	gap: 4px;
	color: red;
	font-style: normal;
	font-weight: bold;
	margin-right: 20px;
}

.medcard_content__profile_phone {
	display: inline-flex;
	align-items: center;
	color: green;
	font-weight: bold;
	gap: 4px;
}

.medcard_content__profile_phone svg {
	fill: green;
}

.medcard_content__profile_relative {
	font-weight: bold;
	font-style: normal;
	color: #000;
}

.medcard_content__profile_relative_name {
	font-weight: normal;
	color: #4f78ab;
}